/* /////////////
    Estilos globales
///////////// */
/* Estilo por defecto: claro */
body {
  background-color: white;
  color: black;
}

h1 {
    text-align: center;
    color: black;
}

h2, strong{
    color: black; 
}
#modo-toggle{
    color:#e3bc5e;
    border: 0px;
}
/* Estilo oscuro */
body.dark {
  background-color: #121212;
  color: white;
}



body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark strong{
    color: white; 
}


/* /////////////
    Header
///////////// */

.listado-nav {
    border: 2px solid #e3bc5e;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.listado-nav li {
    list-style-type: none;
}

.listado-api {
    border: 2px solid #388bfd;
    font-size: 11px;
}

.listado-api span {
    color: #388bfd;
}



/* /////////////
    index
///////////// */
#productos-listados{

}

.li-listados {
    display: flex;
    align-items: center;
    border-right: 10px solid #3d69fa;
    border-left: 10px solid #3d69fa;
    font-size: 16px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    margin-bottom: 16px;
}

.productos-listados {
    justify-content: space-between;
}

.img-listados {
    width: 65px;
    
}
#categoryProd{
    background-color: black;
    
}




/* ===============================
        LISTADOS DINAMICOS
================================== */

.li-listados_boton {
    width: 25%;
}

.li-listados_datos p, .listados_boton {
    margin: 0 !important;
}

.li-listados_datos {
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}


#updateForm-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
}